apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: stark-industries-go
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/gc-ghub/stark-industries-cloud-native-platform.git
    targetRevision: main
    path: stark-industries/helm/stark-industries-go

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
