replicaCount: 2

image:
  repository: 305870069247.dkr.ecr.ap-southeast-1.amazonaws.com/stark-industries-go-web-app
  tag: "c22eac9590b0c7c4979682f81401e8b98d033d05"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx

  # ArgoCD will not modify this. You can override for multi-env in future using values files.
  host: ""    

  paths:
    - path: /
      pathType: Prefix

  tls: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
