replicaCount: 2

image:
  repository: 305870069247.dkr.ecr.ap-southeast-1.amazonaws.com/stark-industries-go-web-app
  tag: "v1"
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80

ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls: []
