replicaCount: 2

image:
  repository: 305870069247.dkr.ecr.ap-southeast-1.amazonaws.com/stark-industries-go-web-app
  tag: v1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx

  # NEW: environment-safe host override
  host: ""     # prod will use root domain (LB)
               # dev override: dev.stark.local
               # stage override: stage.stark.local

  paths:
    - path: /
      pathType: Prefix

  tls: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
