replicaCount: 2

image:
  repository: 305870069247.dkr.ecr.ap-southeast-1.amazonaws.com/stark-industries-go-web-app
  tag: "latest"
  pullPolicy: Always

imageV2:
  repository: 305870069247.dkr.ecr.ap-southeast-1.amazonaws.com/stark-industries-go-web-app-v2
  tag: "latest"
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls: []
##