apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "stark-industries-go.fullname" . }}
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "stark-industries-go.fullname" $ }}
            port:
              number: {{ $.Values.service.port }}