apiVersion: v1
kind: Service
metadata:
  name: {{ include "stark-industries-go.fullname" . }}
  labels:
    {{- include "stark-industries-go.labels" . | nindent 2 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
  selector:
    app: {{ include "stark-industries-go.name" . }}
